:root {
  --default-text-color: black;
  --default-link-color: rgb(0, 110, 255);
  --default-link-hover-color: orange;
  --default-container-size: 600px;
  --default-button-height: 45px;
  --default-button-rounding: 5px;
  --default-button-color: #ffd814;
  --default-button-border-color: #fcd200;
  --default-font-size: 20px;
  --default-agree-font-size: 16px;
}

.main-container {
  min-height: 100%;
  width: 100%;
  place-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0fr 2.6fr 0.7fr 0.7fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "white-space logo white-space2"
    "white-space sign-in white-space2"
    "white-space create-account white-space2"
    "footer footer footer";
}

.footer {
  width: 100%;
  height: 100%;
  background: radial-gradient(
    ellipse at bottom,
    rgba(67, 66, 66, 0.173),
    white
  );
  grid-area: footer;
}

.sign-in {
  grid-area: sign-in;
}

.create-account {
  grid-area: create-account;
}

.logo {
  grid-area: logo;
}

.white-space {
  grid-area: white-space;
}

.white-space2 {
  grid-area: white-space2;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: var(--default-font-size);
}

button {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.143);
  cursor: pointer;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

.logo-container img {
  height: 200px;
  width: auto;
}

.form-container {
  width: 100%;
  /* height: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  width: var(--default-container-size);
  border: 1px solid rgba(0, 0, 0, 0.141);
  padding: 10px 20px;
  border-radius: 5px;
}

form label {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: var(--default-link-color);
}

a:hover {
  color: var(--default-link-hover-color);
  text-decoration: underline;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  font-weight: normal;
}

form input {
  margin-bottom: 60px;
  height: 40px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 3px;
}

form input:focus {
  outline: 3px solid rgba(0, 158, 231, 0.439);
}

form label {
  width: auto;
  font-size: var(--default-font-size);
}

.email-text {
  font-weight: 600;
}

.email-line {
  margin-bottom: 4px;
}

.email {
  width: 100%;
}

.password-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.password-line label {
  font-weight: 600;
}

.continue-button {
  font-size: var(--default-font-size);
  background-color: var(--default-button-color);
  height: var(--default-button-height);
  border: 1px solid var(--default-button-border-color);
  border-radius: var(--default-button-rounding);
}

.continue-button:hover {
  background-color: #fdb707bd;
}

.continue-agreement {
  display: flex;
  margin-bottom: 25px;
}

.continue-agreement p {
  font-size: var(--default-agree-font-size);
  padding-right: 5px;
}

.continue-agreement-and {
  padding-left: 5px;
}

.continue-agreement a {
  font-size: var(--default-agree-font-size);
}

.checkbox-label::before {
  content: " ";
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: 0.7rem;
  transform: translateY(-1px);
}

.checkbox-label {
  margin-top: 20px;
  width: 160px;
  color: var(--default-link-color);
  font-weight: normal;
}

.checkbox-label:hover {
  display: inline;
  color: var(--default-link-hover-color);
  text-decoration: underline;
}

.help-link-checkbox:checked + .checkbox-label::before {
  transform: rotate(90deg) translateX(-1px);
}

input[type="checkbox"] {
  display: none;
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  padding-left: 18px;
}

.collapsible-content a {
  display: inline-block;
  font-size: var(--default-font-size);
  margin-top: 5px;
}

.help-link-checkbox:checked + .checkbox-label + .collapsible-content {
  max-height: 350px;
}

.create-account-container {
  width: var(--default-container-size);
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.create-account-container button {
  background-color: white;
  height: var(--default-button-height);
  border-radius: var(--default-button-rounding);
  border: 1px solid rgba(128, 128, 128, 0.408);
  margin-top: 10px;
}

.container {
  margin-top: 0px;
  width: var(--default-container-size);
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

.container h5 {
  color: rgba(128, 128, 128, 0.806);
  font-weight: normal;
  text-align: center;
}

.line {
  position: relative;
}

.line::before {
  position: absolute;
  content: "";
  border: 0.1px solid rgba(128, 128, 128, 0.143);
  width: 100%;
}

.border-container {
  width: 100%;
  display: flex;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.436);
}

.border-gradient {
  margin-top: 0px;
  width: 50%;
  height: 0.1px;
}

.border-gradient #right-side {
  background: linear-gradient(to right, rgba(67, 66, 66, 0.323), white);
}

.border-gradient #right-side {
  background: linear-gradient(to left, rgba(67, 66, 66, 0.323), white);
}

.footer-container {
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  margin-top: auto;
  flex-direction: column;
  height: 100%;
}

.footer-links {
  margin-top: 5px;
  display: flex;
  width: 45%;
  justify-content: space-evenly;
  width: 600px;
}

.copyright {
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.686);
}

@media (max-width: 600px) {
  :root {
    --default-container-size: 360px;
    --default-button-height: 50px;
    --default-font-size: 15px;
  }

  form input {
    margin-bottom: 10px;
    height: 30px;
  }

  .logo-container img {
    height: 100px;
  }

  .container {
    margin: 0px;
  }

  .checkbox-label {
    margin-top: 0px;
  }

  .footer-links {
    width: 100%;
  }

  .continue-agreement p {
    font-size: 12px;
  }

  .continue-agreement a {
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  :root {
    --default-container-size: 260px;
    --default-button-height: 40px;
    --default-font-size: 12px;
  }

  html,
  body {
    width: 100%;
  }

  form input {
    margin-bottom: 10px;
    height: 30px;
  }

  .logo-container img {
    height: 100px;
  }

  .container {
    margin: 0px;
  }

  .checkbox-label {
    margin-top: 0px;
  }

  .footer-links {
    width: 100%;
  }

  .checkbox-label {
    margin-top: 10px;
  }

  .continue-agreement {
    margin: 5px 0px;
  }

  .continue-agreement p {
    padding: 0px;
    margin-right: 2px;
    font-size: 8px;
  }

  .continue-agreement-and {
    margin-left: 2px;
  }

  .continue-agreement a {
    font-size: 8px;
  }
}
